* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#root {
  background: rgb(58, 58, 58);
  background: radial-gradient(circle, rgba(58, 58, 58, 1) 0%, rgb(0, 0, 0) 100%);
}

.header {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2;
  color: #fff;
  backdrop-filter: #282828;
  flex-wrap: wrap;
  padding: 2em;
}

.header p {
  cursor: pointer;
  color: #fff;
}